
/* Index */

@charset "UTF-8";

html {
    background-color: rgb(233, 233, 233);
    font-family: Arial, Helvetica, sans-serif;
}

* {
    padding: 0;
    margin: 0;
}
nav{
    background-color: #72a7d4;
    padding: 30px;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.527);
}

nav a:hover{
    background-color: #97ceff;
    transition: .5s;
}

nav a{
    padding: 10px;
    font-weight: 600;
}


nav ul{
    display: flex;

}

main {
    max-width: 800px;
    min-width: 320px;
    margin: auto;
    text-align: justify;
    background-color: white;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.527);
}

main p {
    line-height: 1.5em;
    text-indent: 30px;
    padding: 10px 15px;
}

main a {
    background-color: #a8d0f3;
    text-decoration: underline;
}



h1, h2{
    text-align: center;
}

h1#titulo {
    padding-top: 10px;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

img {
    width: 500px;
    margin: auto;
    display: block;
    margin-top: 10px;
}

img#ipod {
    width: 300px;
}

img#iphone {
    width: 400px;
}

img#ipad {
    width: 300px;
}

img#iphone15 {
    width: 300px;
}

img#macbook {
    width: 400px;
}

img#applewatch {
    width: 350px;
}

img#placassolares {
    width: 400px;
}

@media (max-width: 526px){
    img{
    width: 300px;
    }

    img#ipod{
        width: 250px;
    }

    img#iphone {
        width: 300px;
    }

    img#iphone15 {
        width: 250px;
    }

    img#ipad {
        width: 200px;
    }
}

footer {
    background-color: #000;
    color: #fff;
    font-weight: 500;
    text-align: center;
}

/* Contato */

#fone {
    width: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#email {
    width: 30px;
}

.p {
    padding: 2.5px;
    text-align: center;
}

.conteudo {
    width: 100px;
    height: 200px;
}

/* Sobre */
